.vs/
*.aux.xml
/Madingley/bin
/Madingley/input/Data
/Madingley/input/ModelStates
/Madingley/obj
/Madingley.suo
/Madingley.v12.suo
/Madingley.user
/Madingley.v11.suo
/packages
/Madingley/packages.config

*.db
Madingley/input/Model setup/Environmental Data Layer List/EnvironmentalDataLayers_backup.csv
Madingley/Madingley.csproj
Madingley.VC.db
Madingley/Madingley.csproj
