<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="microsoft.research.science.data.local"
    type="Microsoft.Research.Science.Data.Factory.FactoryConfigurationSection,
Microsoft.Research.Science.Data.Configuration, Version=1.3.0.0, Culture=neutral,
PublicKeyToken=31bf3856ad364e35"/>
  </configSections>
  <microsoft.research.science.data.local>
    <factories>
      <add name="shapefile"
      type="Microsoft.Research.Science.Data.Shapefile.ShapefileDataSet,
Microsoft.Research.Science.Data.Shapefile, Version=1.3.14106.0, Culture=neutral,
PublicKeyToken=e550de0161496f12"/>
      <add ext=".shp"
      type="Microsoft.Research.Science.Data.Shapefile.ShapefileDataSet,
Microsoft.Research.Science.Data.Shapefile, Version=1.3.14517.0, Culture=neutral,
PublicKeyToken=31bf3856ad364e35"/>
      <add name="esriasciigrid"
           type="Microsoft.Research.Science.Data.EsriGrid.EsriGridDataSet,
Microsoft.Research.Science.Data.EsriGrid, Version=1.3.14517.0, Culture=neutral,
PublicKeyToken=31bf3856ad364e35"/>
      <add ext=".asc"
      type="Microsoft.Research.Science.Data.EsriGrid.EsriGridDataSet,
Microsoft.Research.Science.Data.EsriGrid, Version=1.3.14517.0, Culture=neutral,
PublicKeyToken=31bf3856ad364e35"/>
      <add name="as"
      type="Microsoft.Research.Science.Data.ActiveStorage.ASGridDataSet,
Microsoft.Research.Science.Data.ActiveStorage, Version=1.3.14517.0, Culture=neutral,
PublicKeyToken=31bf3856ad364e35"/>
      <add name="az"
      type="Microsoft.Research.Science.Data.Azure.AzureDataSet,
Microsoft.Research.Science.Data.AzureDataSet, Version=1.3.14517.0, Culture=neutral,
PublicKeyToken=31bf3856ad364e35"/>
    </factories>
  </microsoft.research.science.data.local>
</configuration>